

body{
    background-color: #DAE2EF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #DAE2EF;
    font-size: small;
}



.container{
    max-width: 80%;
    margin: 0 auto;
}

.container h1{
    width: 80%;
    border: 4px solid #2D2A8D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 10px auto;
}

#episodelist-container{
    width: 70%;
}

#episode-list{
    color: #DAE2EF;
}

main{
    background-color: #4E67B9;
    border: 4px solid #2D2A8D;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.episode-list{
    width: 100%;
    /*display: flex;
    flex-direction: row;*/
}

.episode-list tr, .episode-list td{
    width: 15%;
    border-top: 1px solid #DAE2EF;
    padding: 10px;
    font-size: small;
}

#add-episode-link{
    border: 2px solid #DAE2EF;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#add-episode-link:hover{
    background-color: #ffffff;
    color: #2D2A8D;

}


#add-episode-link:after{
    font-style: italic;
    color: #ffffff;
}

form{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.deleteBtn{
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 599px) {
    .container{
        max-width: 95%;
    }
       
    #episodelist-container{
        max-width: 95%;
        
    }
    
    .episode-list tr, .episode-list td{
        width: 20%;
        padding: 10px 5px;
        font-size: x-small;
    }
        
    form{
        width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .episode-list tr, .episode-list td{
        width: auto;
        padding: 5px 2px;
        font-size: xx-small;
    }
}

input[type = text]{
    margin: 10px 10px 10px 0;
    height: 30px;
    width: 100%;
}

input[type=submit]{
    margin: 10px 10px 10px 0;
    background-color: #DAE2EF;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;

}

table a{
    padding-top: 10px;
}